{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <a href="{% url 'homepage' %}" class="logo">
                        <img class="logo" alt="" src="{% static 'images/logo.svg' %}">
                    </a>
                    <nav class="menu">
                        <ul class="menu__list">
                            <li class="menu__list-item">
                                <a href="{% url 'homepage' %}" class="menu__list-link">Главная</a>
                            </li>
                            <li class="menu__list-item">
                                <a href="{% url 'portfolio' %}" class="menu__list-link">Портфолио</a>
                            </li>
                            <li class="menu__list-item">
                                <a href="{% url 'about' %}" class="menu__list-link">О себе</a>
                            </li>
                            <li class="menu__list-item">
                                <a href="{% url 'ticket' %}" class="menu__list-link">Обратная связь</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <main class="main">
            <section class="ticket">
                <div class="ticket-form">
                    <p class="ticket-title">Расскажи как ты хочешь запечатлить свой день.</p>
                    <form action="" class="form">
                        <input type="text" class="form__input form__input__fio" placeholder="Name">
                        <input type="email" class="form__input" placeholder="E-mail">
                        <input type="phone" class="form__input" placeholder="phone">
                        <textarea class="form__textarea" placeholder="Your text"></textarea>
                        <button class="form__btn" type="submit">Отправить заявку</button>
                    </form>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="container">
                <ul class="app">
                    <li class="app__item">
                        <a href="https://t.me/sssooonnniiikk" class="app__item-link">
                            <img class="app__item-img" src="{% static 'images/telegram.svg' %}" alt="">
                        </a>
                    </li>
                    <li class="app__item">
                        <a href="https://vk.com/sooniiik" class="app__item-link">
                            <img class="app__item-img" src="{% static 'images/vk.svg' %}" alt="">
                        </a>
                    </li>
                    <li class="app__item">
                        <a href="https://www.instagram.com/soniiik04?igsh=ZGNjOWZkYTE3MQ%3D%3D&utm_source=qr" class="app__item-link">
                            <img class="app__item-img" src="{% static 'images/instagram.svg' %}" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
</body>
</html>